@import url('https://fonts.googleapis.com/css2?family=Bree+Serif&family=Hanalei&family=PT+Sans&display=swap');
*{
	margin:0px;
	padding:0px;
}
.innerdiv{
	max-width: 600px;
	margin:90px auto;
	margin-bottom: 10px;
	padding:30px;
}
.innerdiv .inputfields{
	margin-bottom: 15px;
	display: flex;
	align-items: center;
	font-size: 22px;
}
.innerdiv .inputfields label{
	width: 300px;
	margin-right: 15px;
	text-align: right;
}
.innerdiv .inputfields .input{
	max-width: 600px;
	width: 500px;
	outline: none;
	font-size: 24px;
	padding:8px 10px;
	border-radius: 3px;
	background: rgba(255,255,255, .4);
}
.innerdiv .pimage{
	height: 170px;
	width:170px;
	margin:0px auto;
	margin-bottom: 15px;
	border-top-right-radius: 50%;
	border-top-left-radius: 50%;
	background-image: url(employeeimages/bank.png);
	background-size: 130%;
	background-position: center top;
	display: flex;
	align-items: center;	
}
.xchange .buttons{
	max-width: 600px;
	margin: 10px auto;
	display: flex;
	align-items: center;
	font-size: 22px;
	
}
.xchange .buttons a{
	width: 400px;
	line-height: 200%;
	text-align: center;
	border-radius: 5px;
	background: rgba(255,255,255, .3);
	margin-right: 15px;
	color: white;
}
.xchange .buttons .save{
	width: 400px;
	height: 43px;
	font-size: 22px;
	text-align: center;
	border-radius: 5px;
	background: rgba(255,255,255, .3);
	margin-right: 15px;
	color: white;
}
.xchange .buttons a:hover{
	background: rgba(255,255,255, .8);
	color: grey;
}
.xchange .buttons .save:hover{
	background: rgba(255,255,255, .8);
	color: grey;
}
